<h1 class="mt-4" style="color:#2f86e2">Cliente</h1>
<ol class="breadcrumb mb-4" style="background-color:#ffc0cb80">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="aler" *ngIf="sucesso == true">
                    Cliente salvo/autorizado com sucesso!
                </div>
                <div class="alert alert-danger" role="aler" *ngFor="let erro of erros">
                    {{ erro }}
                </div>
            </div>
        </div>       
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="cliente.id" name="id"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="cliente.dataCadastro" name="dataCadastro"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" (input)="formatarCPF()" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Endereço: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.endereco" name="endereco"/>
                </div>
            </div>        
            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.telefone" name="telefone" (input)="formatarTelefone()" required>
                </div>
            </div>
        </div>
        <div class="row-buttons">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>                
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>           
    </form>
</div> 