<div class="pai text-center my-5 mx-auto col-12 col-md-8">
    <div class="container">       
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-5">                       
                        <div class="row">                            
                            <div class="col-lg-6 ">
                                <div class="p-0">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Acesso Restrito a Funcionários</h1>
                                        <h3 class="text-center font-weight-light my-4">
                                            {{ cadastrando ? 'Cadastro de Novo Usuário' : 'Entrar'}}
                                        </h3>
                                    </div> 
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>                                                                     
                                    <div class="alert alert-danger"  *ngFor="let erro of errors">                                       
                                        {{ erro }}
                                    </div>                                                                  
                                    <form #loginForm="ngForm" (submit)="onSubmit();">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                            name="username"  [(ngModel)]="usuario.login" autocomplete="off" aria-describedby="emailHelp"
                                                placeholder="Digite seu login.">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="password" [(ngModel)]="usuario.password"
                                                placeholder="Digite sua senha.">
                                            </div>                                                                                   
                                        <div *ngIf="cadastrando">
                                            <label for="roles">Selecione um Perfil:</label>
                                            <select [(ngModel)]="usuario.role" class="form-control" name="role">                                                
                                                <option *ngFor="let perfil of perfis" [value]="perfil">
                                                    {{ perfil }}
                                                </option>
                                            </select>
                                        </div>
                                            <div class="form-group">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" *ngIf="!cadastrando">
                                            Entrar
                                        </button>                                         
                                        <button type="button" class="btn btn-success btn-user btn-block" (click)="registrar()" *ngIf="cadastrando">
                                            Cadastrar
                                        </button>                                           
                                        <button type="button" (click)="cancelarCadastro($event)"
                                        class="btn btn-danger btn-user btn-block" *ngIf="cadastrando"> 
                                            Cancelar
                                        </button>                         
                                        <hr>
                                        <div *ngIf="!cadastrando">
                                        <a class="btn btn-google btn-user btn-block" (click)="exibirformCadastro($event)" href="#" id="criar-conta">
                                            <i class="fas fa-user-plus fa-fw"></i> Criar conta 
                                        </a>   
                                    </div>                                     
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" (click)="retornarAoPortofolio()" href="#" id="esqueceu-senha">
                                            <i class="fas fa-arrow-left fa-fw"></i>
                                            Retornar ao Portfólio Code Deving</a>
                                    </div>
                                    </div>
                                    </div>
                            <div class="col-lg-6 mt-5 d-none d-lg-block" >
                                <img src="assets/img/logo.png" alt="Logo" class="img-fluid"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 