h1.mt-4 {
    color: #2f86e2;
}

.breadcrumb {
    background-color: #b2d0f7;
    color:rgb(59, 59, 59);
}

#layoutSidenav_content main { 
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#layoutSidenav_content main::before {
    content: "";   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.08;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sb-topnav {
    background-color: #6caafc;
}

.pai {
    background-color: #6caafc;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;   
    height: 400px;
}

.card-body {  
    padding: 1.5rem !important; 
}

.card-body .row {
    height: 100%;
}

.logo-container {  
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {   
    max-width: 250px;   
}






