<div class="container">
    <h1 class="mt-4" style="color: #ff00b3">Histórico do Cliente</h1>
    <ol class="breadcrumb mb-4" style="background-color:#ffc0cb80">
        <li class="breadcrumb-item active">Consulta</li>
    </ol>

    <h2 class="mt-4" style="color: #ff00b3">Cliente</h2>
    <div>
        <label>Nome do Cliente: </label>
        <span>{{" " + historicoDeServicos[0]?.clienteNome }}</span>
    </div>
    <div>
        <label>CPF do Cliente: </label>
        <span>{{" " + historicoDeServicos[0]?.clienteCpf }}</span>
    </div>
    <div>
        <label>Data de Cadastro do Cliente: </label>
        <span>{{" " + historicoDeServicos[0]?.clienteDataCadastro }}</span>
    </div>
    <div>
        <label>Endereço do Cliente: </label>
        <span>{{" " + historicoDeServicos[0]?.clienteEndereco }}</span>
    </div>
    <div>
        <label>Telefone do Cliente: </label>
        <span>{{" " + historicoDeServicos[0]?.clienteTelefone }}</span>
    </div>

    <h2 class="mt-4" style="color: #ff00b3">Serviços Realizados</h2>
    <div>
        <div class="col-md-12"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servico of historicoDeServicos">
                    <td>{{ servico.servicoDescricao }}</td>
                    <td>{{ servico.servicoValor }}</td>
                    <td>{{ servico.servicoData }}</td>
                </tr>               
                <tr *ngIf="historicoDeServicos[historicoDeServicos.length - 1].servicoTotal">
                    <td><strong>Total de Serviços Realizados</strong></td>
                    <td>{{ historicoDeServicos[historicoDeServicos.length - 1].servicoTotal }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}
        </div>
    </div>
    <div class="row-buttons">
        <button type="button" class="btn btn-primary ml-1" (click)="gerarPDF()">
            Gerar PDF
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
            <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
    </div>
</div>